body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a2e; /* Dark purple */
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #1f1f2e; /* Dark blue */
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

h1 {
    margin-top: 0;
    font-size: 2.5em;
    color: #ff6b6b; /* Coral color for heading */
}

.input-section {
    margin-bottom: 20px;
}

.input-section label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.input-section input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2e2e42; /* Darker blue */
    color: #fff;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.input-section input:hover {
    background-color: #333366; /* Darker purple on hover */
}

.input-section button {
    padding: 10px 20px;
    background-color: #4d4d7e; /* Dark purple */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.input-section button:hover {
    background-color: #666699; /* Lighter purple on hover */
}

.result {
    font-size: 1.2em;
    margin-top: 20px;
}

.info {
    margin-top: 20px; /* Adjust margin top to your preference */
    padding: 20px;
    border-radius: 10px;
    background-color: #1f1f2e; /* Dark blue */
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.info h2 {
    margin-top: 0;
    font-size: 1.8em;
    color: #64ffda; /* Turquoise color for heading */
}

.info p {
    margin-bottom: 10px;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}
